.ticket_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--mantine-spacing-sm);
  border: 3px solid rgb(100, 187, 221);
  border-radius: 15px;
  width: 15vw;
  margin: 1%;
  transition: transform 0.3s ease;
}
.ticket_card:hover {
  transform: scale(1.06);
}

.tickets_container {
  display: flex;
  flex-direction: row;
}

.choose_tickets {
  margin-top: 3%;
  width: 60%;
}

.tickets_wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.ticket_card_title {
  font-size: rem(20px);
  font-weight: 700;
  margin-bottom: var(--mantine-spacing-xs);
  color: var(--mantine-color-black), var(--mantine-color-white);
}

.buy_tickets_title {
  font-size: rem(24px);
  font-weight: 700;
  margin-bottom: var(--mantine-spacing-lg);
  margin-top: var(--mantine-spacing-lg);
  color: var(--mantine-color-black), var(--mantine-color-white);
}
